# Example environment variables for this project
# Copy to .env or use in CI (non-secret values only)
APP_ENV=dev
APP_SECRET=
APP_SHARE_DIR=var/share

# Configure how to generate URLs in non-HTTP contexts (commands)
DEFAULT_URI=http://localhost

# Example database URL (do not use for production)
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data_%kernel.environment%.db"

